
@{
    ViewBag.Title = "Juese";
    Layout = "~/Views/Home.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css1/bootstrap.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <style>
        #text-1 {
            width: 100%;
            /*height:500px;*/
            /*border: solid 1px red;*/
        }

        /*a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }*/

        p {
            margin-top: 20px;
            margin-left: 20px;
            /*border: solid 1px #E9BCB9;*/
            line-height: 0px;
        }

        #h4 {
            /*border: solid 1px red;*/
            margin-left: 50px;
            margin-top: 25px;
            line-height: 0px;
            float: left;
        }

        #text-2 {
            /*border: solid 1px red;*/
            margin-left: 20px;
            /*padding-bottom:20px;*/
            width: 50%;
            /*float: right;*/
        }

        #text-3 {
            /*border: solid 1px blue;*/
            /*margin-left: 20px;*/
            /*padding-bottom:20px;*/
            /*width: 45%;*/
            padding-left: 300px;
            width: 800px;
            margin-left: 700px;
            /*position: absolute;
            top: 50px;*/
        }

        #text-4 {
            /*border: solid 1px red;*/
            height: 800px;
        }

        #table1 {
            text-align: center;
        }

        #dingchen {
            border: 1px solid white;
            width: 100%;
            height: 40px;
            background-color: #d4d3d3;
        }


        #o {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            display: none;
            position: absolute;
            z-index: 1;
            background-color: gainsboro;
        }

        #p {
            display: none;
            width: 350px;
            position: absolute;
            top: 30px;
            left: 380px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div id="text-1">
        <div>
            @*<p><a href="">首页</a>><a href="">基本资料</a>><a href="">部门管理</a></p>*@

            <div id="dingchen">
                <div style="position:absolute;top:10px;left:20px;">
                    <img style="float:left" src="../jpg/fangzi.png" /> <div style="width:200px;"><a href="">首页</a>><a href="">系统设置</a>><a href="">角色管理</a></div>
                </div>
            </div>


            <div id="h4">
                <h4 style="font-size:20px;">角色管理</h4>
            </div>
            <br />
            <div style="height:40px">
                <div id="text-3">
                    <input id="xz" data-method="offset" type="button" data-type="auto" value="新增" class="btn btn-primary" />
                    <div id="o"></div>
                    <div id="p">dawdawdawd</div>
                    <input id="Button1" type="button" value="删除" class="btn btn-danger" />
                    <input id="Button1" type="button" value="导出" class="btn btn-info" />
                </div>
                <div id="text-4">
                    <div id="text-2">
                        <input id="Text1" type="text" /><input id="Button1" type="button" value="搜索" class="btn btn-info" onclick="PageList()" />
                    </div>
                    <table style="width:100%;" class="layui-table" id="table1">
                        <thead>
                            <tr>
                                <td><input id="Checkbox1" type="checkbox" name="item" /></td>
                                <td>序号</td>
                                <td>角色编号</td>
                                <td>角色名</td>
                                <td>创建时间</td>
                                <td>备注</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="tb1"></tbody>
                    </table>
                    <div id="pageDemo">

                    </div>
                    @*<div id="divBtn" style="text-align:center;">
                        <input id="First" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="首页" />
                        <input id="Back" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="上一页" />
                        <input id="Next" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="下一页" />
                        <input id="Last" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="尾页" />
                    </div>*@
                </div>
            </div>
            <div id="hidePage" style="display:none;">
                <div style="text-align:center;margin-top:20px;">
                    <form id="form1">
                        <table style="border-spacing:10px 30px; margin-left:60px;width:300px;">
                            <tr>
                                <td>角色编号：<input style="width:80px;" id="Text1" type="text" /></td>
                                
                            </tr>

                            <tr>
                                <td>角色名称：<input style="width:80px;" id="Text1" type="text" /></td>
                                
                            </tr>
                            <tr>
                                <td style="margin-left:1000px;">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<input style="width:80px;" id="Text1" type="text" /></td>
                               
                            </tr>
                        </table>
                        <input id="btnSub" type="button" value="确定" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-top:5px;margin-left:10px;" onclick=" Update()" />
                        <input id="Button2" type="button" value="关闭" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-top:5px;margin-left:10px;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>



    var pageIndex = 1;
    var pageSize = 10;
    var pageCount = 0;
    var rows = 0;
    $(function () {
        PageList();
        layFenYe();
        $("#xz").click(function dasd() {
            $("o", "p").divShow();
        })
    });

    function layFenYe() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            laypage.render({
                elem: 'pageDemo'
                , count: rows
                , limit: 10
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    //console.log(obj)
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    PageList();
                }
            });
        });
    }

    $("#First").click(function () {
        pageIndex = 1;
        PageList();
        return false;
    });
    $("#Back").click(function () {
        pageIndex--;
        PageList();
        return false;
    });
    $("#Next").click(function () {
        pageIndex++;
        PageList();
        return false;
    });
    $("#Last").click(function () {
        pageIndex = pageCount;
        PageList();
        return false;
    });




    //全选以及反选
    $(function () {
        $("#Checkbox1").click(function () {
            if (this.checked) {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

    });

    //时间格式转化
    function Datte(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }

    //分页加载全部
    function PageList() {
        var name = $("#Text1").val();
        $.ajax({
            type: "POST",
            url: "/Text/getRole",
            data: "{pageIndex:'" + pageIndex + "',pageSize:'" + pageSize + "',name:'" + name + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                rows = result.PageCount;
                $("#tb1 tr").remove();
                $.each(result.DataList, function (index, data) {

                    $("#tb1").append("<tr><td><input id='Checkbox5' type='checkbox' name='item' /></td><td>" + data.Id + "</td><td>" + data.RoleNum + "</td><td>" + data.RoleName + "</td><td>" + Datte(data.CreateTime) + "</td><td>" + data.Remark + "</td><td></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='divShow(" + data.Id + ")'><i class='layui-icon'>&#xe642;</i></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='Del(" + data.Id + ")'><i class='layui-icon'>&#xe640;</i> </button></div></td></tr>");
                });

            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
        btnState();
    }

    //设置按钮
    function btnState() {
        //先设置所有按钮为可用状态
        $("#divBtn :button").prop("disabled", false);
        if (pageIndex == 1) {
            //禁用首页和上一页
            $("#First").prop("disabled", true);
            $("#Back").prop("disabled", true);
        }
        if (pageIndex == pageCount) {
            //禁用尾页和下一页
            $("#Next").prop("disabled", true);
            $("#Last").prop("disabled", true);
        }
    }

    //删除单行(修改表示ID)
    function Del(id) {
        if (confirm('是否删除?')) {
            $.ajax({
                type: "POST",
                url: "/Text/delRole",
                data: "{Id:'" + id+"'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        layFenYe();
                        PageList();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
                ,
            });
        }
    }

    //编辑弹出层
    function divShow(id) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: ['添加员工信息', 'font-size:15px'],
                area: ['420px', '190px'], //宽高
                type: 1,
                shade: 0,
                content: $('#hidePage'),
                //btn: ['确定', '关闭'],
                yes: function (index, layero) {
                    //index为当前层索引
                    //layero 为 弹出层对象
                    //在回调函数末尾添加 “return false”可以禁止点击该按钮关闭弹出层
                    return false;
                },
                cancel: function () {//右上角关闭毁回调
                    //return false;
                }
            })
        })
    }
</script>

