
@{
    ViewBag.Title = "buMenGuanLi";
    Layout = "~/Views/Home.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css1/bootstrap.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <style>
        #text-1 {
            width: 100%;
            /*height:500px;*/
            /*border: solid 1px red;*/
        }

        /*a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }*/

        p {
            margin-top: 20px;
            margin-left: 20px;
            /*border: solid 1px #E9BCB9;*/
            line-height: 0px;
        }

        h5 {
            margin-left: 50px;
            margin-top: 25px;
            line-height: 0px;
            float: left;
        }

        #text-2 {
            /*border: solid 1px red;*/
            margin-left: 20px;
            /*padding-bottom:20px;*/
            width: 50%;
            /*float: right;*/
        }

        #text-3 {
            /*border: solid 1px blue;*/
            /*margin-left: 20px;*/
            /*padding-bottom:20px;*/
            /*width: 45%;*/
            padding-left: 300px;
            width: 800px;
            margin-left: 700px;
        }

        #text-4 {
            border: solid 1px red;
        }

        #table1 {
            text-align: center;
        }
        #dingchen {
            border: 1px solid white;
            width: 100%;
            height: 40px;
            background-color: #d4d3d3
        }
    </style>
</head>
<body>
    <div id="text-1">
        <div>
            @*<p><a href="">首页</a>><a href="">基本资料</a>><a href="">部门管理</a></p>*@

            <div id="dingchen">
                <div style="position:absolute;top:10px;left:20px;">
                    <img style="float:left" src="~/Jpggzi.png" /> <div style="width:200px;"><a href="">首页</a>><a href="">系统设置</a>><a href="">员工管理</a></div>
                </div>
            </div>


            <h5>部门管理</h5>
            <div id="text-3">
                @*<input id="Button1" type="button" value="新增" class="btn btn-primary" onclick="Add" />*@
                <input id="Button1" data-method="offset" type="button" data-type="auto" value="新增" class="btn btn-primary" />
                @*<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>*@
                <input id="Button1" type="button" value="删除" class="btn btn-danger" />
                <input id="Button1" type="button" value="导出" class="btn btn-info" />
            </div>
            <div id="text-4">
                <div id="text-2">
                    <input id="Text1" type="text" /><input id="Button1" type="button" value="搜索" class="btn btn-info" onclick="PageList()" />
                </div>
                <table style="width:100%;" class="layui-table" id="table1">
                    <thead>
                        <tr>
                            <td><input id="Checkbox1" type="checkbox" name="item" /></td>
                            <td>序号</td>
                            <td>部门名称</td>
                            <td>部门名</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody id="tb1"></tbody>
                </table>
                <div id="pageDemo">

                </div>
                <div id="divBtn" style="text-align:center;">
                    <input id="First" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="首页" />
                    <input id="Back" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="上一页" />
                    <input id="Next" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="下一页" />
                    <input id="Last" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="尾页" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>



    var pageIndex = 1;
    var pageSize = 10;
    var pageCount = 0;
    var rows = 0;
    $(function () { 
        PageList();
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            laypage.render({
                elem: 'pageDemo'
                , count: rows
                , limit: 10
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    //console.log(obj)
                        pageIndex = obj.curr;
                        pageSize = obj.limit;

                        PageList(); 
                }
            });
        });
    });

    $("#First").click(function () {
        pageIndex = 1;
        PageList();
        return false; 
    });
    $("#Back").click(function () {
        pageIndex--;
        PageList(); 
        return false;
    });
    $("#Next").click(function () {
        pageIndex++;
        PageList();
        return false;
    });
    $("#Last").click(function () {
        pageIndex = pageCount;
        PageList();
        return false;
    });


    

    //全选以及反选
    $(function () {
        $("#Checkbox1").click(function () {
            if (this.checked) {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

    });

    //时间格式转化
    function Datte(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }

    //分页加载全部
    function PageList() {
        var name = $("#Text1").val();
        $.ajax({
            type: "POST",
            url: "/Yangwenjie/getDepart",
            data: "{pageIndex:'" + pageIndex + "',pageSize:'" + pageSize + "',name:'" + name + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                rows = result.PageCount;
                $("#tb1 tr").remove();
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input id='Checkbox5' type='checkbox' name='item' /></td><td>" + data.Id + "</td><td>" + data.DepartNum + "</td><td>" + data.DepartName + "</td><td>" + Datte(data.CreateTime) + "<td></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe642;</i></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe640;</i> </button></div></td></tr>");
                });
                
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
        btnState();
    }

    //设置按钮
    function btnState() {
        //先设置所有按钮为可用状态
        $("#divBtn :button").prop("disabled", false);
        if (pageIndex == 1) {
            //禁用首页和上一页
            $("#First").prop("disabled", true);
            $("#Back").prop("disabled", true);
        }
        if (pageIndex == pageCount) {
            //禁用尾页和下一页
            $("#Next").prop("disabled", true);
            $("#Last").prop("disabled", true);
        }
    }

    //function selectByName() {
    //    var name = $("#Text1").val();
    //    //alert(name);
    //    $.ajax({
    //        type: "POST",
    //        url: "/Yangwenjie/selectByName",
    //        data: "{name:'" + name + "'}",
    //        dataType: "json",
    //        contentType: "application/json",
    //        success: function (result) {
    //            $("#tb1 tr").remove();
    //            $.each(result, function (index, data) {
    //                $("#tb1").append("<tr><td><input id='Checkbox5' type='checkbox' name='item' /></td><td>" + data.Id + "</td><td>" + data.DepartNum + "</td><td>" + data.DepartName + "</td><td>" + data.CreateTime + "<td></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe642;</i></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe640;</i> </button></div></td></tr>");
    //            });
    //        },
    //        //请求失败后的回调函数
    //        error: function (ex) {
    //            alert(ex.responseText);
    //        }
    //    });
    //}
    
</script>

