
@{
    ViewBag.Title = "buMenGuanLi";
    Layout = "~/Views/Home.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css1/bootstrap.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <style>
        #text-1 {
            width: 100%;
            /*height:500px;*/
            /*border: solid 1px red;*/
        }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        p {
            margin-top: 20px;
            margin-left: 20px;
            /*border: solid 1px #E9BCB9;*/
            line-height: 0px;
        }

        h5 {
            margin-left: 50px;
            margin-top: 25px;
            line-height: 0px;
            float: left;
        }

        #text-2 {
            /*border: solid 1px red;*/
            margin-left: 20px;
            /*padding-bottom:20px;*/
            width: 50%;
            /*float: right;*/
        }

        #text-3 {
            /*border: solid 1px blue;*/
            /*margin-left: 20px;*/
            /*padding-bottom:20px;*/
            /*width: 45%;*/
            padding-left: 300px;
            width: 800px;
            margin-left: 700px;
        }

        #text-4 {
            border: solid 1px red;
        }

        #table1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="text-1">
        <div>
            <p><a href="">首页</a>><a href="">基本资料</a>><a href="">部门管理</a></p>
            <h5>部门管理</h5>
            <div id="text-3">
                @*<input id="Button1" type="button" value="新增" class="btn btn-primary" onclick="Add" />*@
                <input id="Button1" data-method="offset" type="button" data-type="auto" value="新增" class="btn btn-primary" />
                @*<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>*@
                <input id="Button1" type="button" value="删除" class="btn btn-danger" />
                <input id="Button1" type="button" value="导出" class="btn btn-info" />
            </div>
            <div id="text-4">
                <div id="text-2">
                    <input id="Text1" type="text" /><input id="Button1" type="button" value="搜索" class="btn btn-info" onclick="selectByName()" />
                </div>
                <table style="width:100%;" class="layui-table" id="table1">
                    <thead>
                        <tr>
                            <td><input id="Checkbox1" type="checkbox" name="item" /></td>
                            <td>序号</td>
                            <td>部门名称</td>
                            <td>部门名</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody id="tb1"></tbody>
                </table>
                <div id="divBtn" style="text-align:center;">
                    <input id="First" class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="首页" />
                    <input id="Back"  class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="上一页" />
                    <input id="Next"  class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="下一页" />
                    <input id="Last"  class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="尾页" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>



    var pageIndex = 1;
    var pageSize = 2;
    var pageCount = 0;
    $(function () {
        PageList();
    });

    $("#First").click(function () {
        pageIndex = 1;
        PageList();
        return false; 
    });
    $("#Back").click(function () {
        pageIndex--;
        PageList(); 
        return false;
    });
    $("#Next").click(function () {
        pageIndex++;
        PageList();
        return false;
    });
    $("#Last").click(function () {
        pageIndex = pageCount;
        PageList();
        return false;
    });


    //layui.use(['laypage', 'layer'], function () {
    //    var laypage = layui.laypage
    //        , layer = layui.layer;

    //    laypage.render({
    //        elem: 'demo11'
    //        , count: 1000
    //        , limit: 100
    //        , limits: [100, 300, 500]
    //    });
    //});


    //layui.use('layer', function () { //独立版的layer无需执行这一句
    //    var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

    //    //触发事件
    //    var active = {
    //        setTop: function () {
    //            var that = this;
    //            //多窗口模式，层叠置顶
    //            layer.open({
    //            });
    //        }
    //        , offset: function (othis) {
    //            var type = othis.data('type')
    //                , text = othis.text();

    //            layer.open({
    //                type: 1
    //                , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
    //                , id: 'layerDemo' + type //防止重复弹出
    //                , content: '<div style="padding: 20px 100px;">' + text + '</div>'
    //                , btn: '关闭全部'
    //                , btnAlign: 'c' //按钮居中
    //                , shade: 0 //不显示遮罩
    //                , yes: function () {
    //                    layer.closeAll();
    //                }
    //            });
    //        }
    //    };

    //    $('#layerDemo .layui-btn').on('click', function () {
    //        var othis = $(this), method = othis.data('method');
    //        active[method] ? active[method].call(this, othis) : '';
    //    });

    //});


    $(function () {
        $("#Checkbox1").click(function () {
            if (this.checked) {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='item']:checkbox").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        selectByBuMen();
    });

    //时间格式转化
    function Datte(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }

    function PageList() {
        $.ajax({
            type: "POST",
            url: "/Yangwenjie/getDepart",
            data: "{pageIndex:'" + pageIndex + "',pageSize:'" + pageSize + "'}",
            dataType: "json",
            contentType: "application/json",

            success: function (result) {
                pageCount = result.PageCount;
                $("#tb1 tr").remove();
                $.each(result.DataList, function (index, data) {
                    //alert(data.Id);
                    $("#tb1").append("<tr><td><input id='Checkbox5' type='checkbox' name='item' /></td><td>" + data.Id + "</td><td>" + data.DepartNum + "</td><td>" + data.DepartName + "</td><td>" + Datte(data.CreateTime) + "<td></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe642;</i></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe640;</i> </button></div></td></tr>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
        btnState();
    }

    function btnState() {
        //先设置所有按钮为可用状态
        $("#divBtn :button").prop("disabled", false);
        if (pageIndex == 1) {
            //禁用首页和上一页
            $("#First").prop("disabled", true);
            $("#Back").prop("disabled", true);
        }
        if (pageIndex == pageCount) {
            //禁用尾页和下一页
            $("#Next").prop("disabled", true);
            $("#Last").prop("disabled", true);
        }
    }

    function selectByName() {
        4
        $.ajax({
            type: "POST",
            url: "/Yangwenjie/selectByName",
            data: "{name:" + name + "}",
            dataType: "json",
            contentType: "application/json",

            success: function (result) {
                $("#tb1 tr").remove();
                $.each(result, function (index, data) {
                    //alert(data.Id);
                    $("#tb1").append("<tr><td><input id='Checkbox5' type='checkbox' name='item' /></td><td>" + data.Id + "</td><td>" + data.DepartNum + "</td><td>" + data.DepartName + "</td><td>" + Datte(data.CreateTime) + "<td></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe642;</i></button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'>&#xe640;</i> </button></div></td></tr>");
                });
            },
            //请求失败后的回调函数,
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    
</script>

