
@{
    ViewBag.Title = "caiDanGuanLi";
    Layout = "~/Views/Home.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>caiDanGuanLi</title>
    <link href="~/Css1/bootstrap.css" rel="stylesheet" />
    <style>
        #text-1 {
            width: 100%;
            /*height:500px;*/
            /*border: solid 1px red;*/
        }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        p {
            margin-top: 20px;
            margin-left: 20px;
            /*border: solid 1px #E9BCB9;*/
            line-height: 0px;
        }

        h5 {
            margin-left: 50px;
            line-height: 0px;
            float: left;
        }

        #text-2 {
            /*border: solid 1px red;*/
            margin-left: 20px;
            /*padding-bottom:20px;*/
            width: 50%;
            /*float: right;*/
        }

        #text-3 {
            /*border: solid 1px blue;*/
            /*margin-left: 20px;*/
            /*padding-bottom:20px;*/
            /*width: 45%;*/
            padding-left: 300px;
            width: 800px;
            margin-left: 700px;
        }

        #Button0 {
            background-color: #2F96B4;
            color: white;
            color: white;
            width: 80px;
            height: 30px;
        }

        #Button1 {
            background-color: #005DCC;
            color: white;
            width: 80px;
            height: 30px;
        }

        #Button2 {
            background-color: #BD362F;
            color: white;
            width: 80px;
            height: 30px;
        }

        #Button3 {
            background-color: #2F96B4;
            color: white;
            width: 80px;
            height: 30px;
        }
        #table1 {
            text-align:center;
        }
        
    </style>
</head>
<body>
    <div id="text-1">
        <div>
            <p><a href="">首页</a>><a href="">系统设置</a>><a href="">菜单管理</a></p>
            <h5>菜单管理</h5>
            <div id="text-3">
                <input id="Button1" type="button" value="新增" /><input id="Button2" type="button" value="删除" /><input id="Button3" type="button" value="导出" />
            </div>

            <div id="text-2">
                <input id="Text1" type="text" /><input id="Button0" type="button" value="搜索" />
            </div>


        </div>
        <table style="width:100%;" class="table table-striped table-bordered table-hover" id="table1">
            <tr>
                <td>编号</td>
                <td>菜单名称</td>
                <td>父级菜单</td>
                <td>类型</td>
                <td>样式</td>
                <td>排序</td>
                <td>路径</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>编号</td>
                <td>菜单名称</td>
                <td>父级菜单</td>
                <td>类型</td>
                <td>样式</td>
                <td>排序</td>
                <td>路径</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>编号</td>
                <td>菜单名称</td>
                <td>父级菜单</td>
                <td>类型</td>
                <td>样式</td>
                <td>排序</td>
                <td>路径</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>编号</td>
                <td>菜单名称</td>
                <td>父级菜单</td>
                <td>类型</td>
                <td>样式</td>
                <td>排序</td>
                <td>路径</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>编号</td>
                <td>菜单名称</td>
                <td>父级菜单</td>
                <td>类型</td>
                <td>样式</td>
                <td>排序</td>
                <td>路径</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
        </table>
    </div>

</body>
</html>

